# -----------------------------
# Python bytecode
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# VS Code temporary files
# -----------------------------
tempCodeRunnerFile.py

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.venv/

# -----------------------------
# OS / editor junk
# -----------------------------
.DS_Store
Thumbs.db